@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #0A6CF1;
    --color-dark: #080808;
    --box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.25);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: white;
}

button{
    width: 30%;
    padding: .5rem 0px;
    font-size: 32px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: var(--color-dark);
}

button:nth-child(2) {
    padding: .9rem 0px;
    font-size: 24px;
}

button:hover{ background-color: #151515;}
button:active{ background-color: #000000;}

body{ background-color: var(--color-primary); }

.title{
    font-weight: 500;
    font-size: 32px;
    margin: 42px 0 0;
}

.counter{
    font-weight: 700;
    font-size: 150px;
}

.container{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color-dark);
    margin: 7rem auto 30px;
    flex-direction: column;
    width: 447.28px;
    height: 325.79px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
}

.button_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 447.28px;
}

